.child{
    width: 30%;
    height: 150px;
    border: 1px solid red;
    display: inline-block;
    margin: 15px;
    background-color: cadetblue;
}
.childtwo{
    width: 30%;
    height: 150px;
    border: 1px solid red;
    display: inline-block;
    margin: 15px;
    background-color: cadetblue;    
}